* {
	margin: 5px;
	padding: 5px;
}

body{
	padding-right: 10px;
	margin-right: 10px;
}

body a{
	margin-top: 0px;
	margin-bottom: 40px;
}

th{
	text-transform: uppercase;
	text-align: center;
	width: auto;
}

td{
	text-align: justify;
}